*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("img/bg.jfif") no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.glass{
    background: #fff;
    height: 100vh;
    width: 829px;

    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(1rem);
    position: absolute;
    top: 0;
}

.social{
    display: flex;
    padding: 20px;
    align-items: center;
}

.social p{
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
    color: #464848;
}

.social a{
    padding-left: 30px;
    color: #464848;
}

.ice{
    position: absolute;
    left: 59%;
    top: 25%;
    font-size: 250px;
    color: rgba(0, 0, 0, 0.4);
}

.text-box{
    position: absolute;
    bottom: 10%;
    display: flex;
    left: 30%;
}

.text-box .num{
    font-size: 64px;
    color: #464848;
    font-weight: bold;
    margin-right: 20px;
}


.text-content{
    width: 400px;
}

.text-content h2{
    font-size: 48px;
    color: #fff;
}

.text-content p{
    font-size: 14px;
    color: #464848;
    text-align: justify;
}

.text-content .trips{
    display: block;
    margin-top: 20px;
    padding: 0;
}



.no-glass{
    width: 1095px;
    height: 100vh;
    position: absolute;
    right: 0;
}

nav{
    position: absolute;
    right: 50px;
}

ul{
    display: flex;
    list-style: none;
    padding: 20px;
}

ul, li, a{
    padding-left: 60px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.left-side-text{
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
    left: 77%;
    font-size: 72px;
    color: #58585895;
    cursor: default;
}

.land{
    font-size: 250px;
    position: absolute;
    top: 45%;
    color: #ffffff;
}






